<h1>OrchestralAI</h1>
<h2>Dashboard of {{username}}
<button (click)="disconnect()">Disconnect</button>
</h2> 

<section>
  <h3>Convert a song!</h3>
  <label for="file-input">Upload an audio file</label>
  <input type="file" class="file-input" (change)="onUpload($event)" #fileUpload accept=".mp3"/>
  <div *ngIf="file">
    <section [ngSwitch]="status">
      <p *ngSwitchCase="'uploading'">⏳ Uploading...</p>
      <p *ngSwitchCase="'success'">✅ Converted</p>
      <p *ngSwitchCase="'fail'">❌ Error encountered, please retry</p>
      <p *ngSwitchDefault>😶 Waiting to upload...</p>
    </section>
    <section *ngIf='conversion'>
      <audio controls>
        <source [src]="getAudioSource(conversion)" type="audio/mpeg">
        Your browser does not support the audio element.
      </audio>
    </section>
  </div>
</section>
<section>
    <h3>History</h3>
      {{ historyMsg }}
      <div *ngFor="let tuple of history">
      {{ tuple[0] }}
      <audio controls>
        <source [src]="getAudioSource(tuple[1])" type="audio/mpeg">
        Your browser does not support the audio element.
      </audio>
    </div>
</section>