<h1>OrchestralAI</h1>
<h2>Sign In</h2>
<form #form="ngForm" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label for="username">Username</label>
    <input type="text" id="username" [(ngModel)]="username" name="username" required #usernameField="ngModel">
    <div *ngIf="usernameField.errors?.['required'] && usernameField.touched" class="alert alert-danger">
      Username is required.
    </div>

    <label for="password">Password</label>
    <input type="password" id="password" [(ngModel)]="password" name="password" required #passwordField="ngModel">
    <div *ngIf="passwordField.errors?.['required'] && passwordField.touched" class="alert alert-danger">
      Password is required.
    </div>
  </div>
  <button type="submit" [disabled]="!form.valid">Confirm</button>
  <p *ngIf="msg">{{msg}}</p>
</form>
